* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}

button {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
}

.container {
  height: 100vh;
  width: 80vw;
  min-width: 500px;
  background-color: rgb(170, 211, 247);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.scoreboard {
  height: 100px;
  width: 100%;
  display: flex;
  font-size: 2rem;
}

.scoreboard-player {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.player-name {
  width: 100%;
  text-align: center;
}

.player-score {
  width: 100%;
  text-align: center;
}

.menu-options {
  padding: 10px;
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.gameboard {
  background-color: rgb(223, 223, 223);
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pad {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 8px;
}

img {
  width: 100%;
  height: auto;
}

#btn-reset {

}
